:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
   background-color: rgb(38, 42, 44);
   color:white;
}
.html{
  font-size: 1.125rem;
}


.images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20;
  border-radius: 1rem;
  background-color: rgb(72, 145, 120);
  padding: 2rem;
  border: 1px solid orangered;
  box-shadow: 3px 3px red, -1em 0 .4em olive;
}
.images img{
 border-radius: 50%;
 border: 2px solid red;
 box-shadow: 3px 3px rgb(93, 135, 84), -1em 0 1em rgb(132, 132, 132);
}

.title{
  text-align: center;
  margin-bottom: 2rem;
}
.container{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-top: 0;
}
.game{
  background-color: rgb(31, 31, 31);
border-radius: 2rem;
margin-bottom: 0;
box-shadow: 3px 3px red, -1em 0 .4em olive;
}

.info{
  color: red;
  font-size: .8rem;
}
.spin-button{
  border: none;
  border-radius: 50%;
  background-color: transparent;
  box-shadow:inset;
}
.spin-button:active{
  animation: spin .1s linear backwards reverse infinite;
}
.btn-action{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:3rem;
  color:red;
}

.resultDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(33, 33, 43);
  border-radius: 30px;
  gap:5rem;
  padding: 0 2rem;
  margin-bottom: 0;
  color:rgb(218, 249, 249);
}
.result{
  font-size: 1.125rem;
  opacity: .7;
}
.result-container h1{
  text-decoration: underline ;
  font-size: large;
}
.calculation{
  display: flex;
  justify-content: space-between;
  gap: 30;
  box-shadow: 3px 3px red, -1em 0 .4em olive;
}
@media  screen and (max-width:768px) {
    .resultDisplay{
      flex-direction: column;
      padding: 1.2rem;
    }
    .win{
      text-align: center;
    }
    .divline:nth-child(4){
      display: none;
    }
}
.divline{
  height: auto;
  width: .2px;
  background-color: rgb(255, 0, 0);
  margin: 0 2rem;
}
.spin{
  animation: spin .2s 3 linear ;
}
.spin-icon{
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.input{
  text-align: center;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #1d2c2f;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}
.input p{
  
}
.turn{
  border: 1px solid rgb(255, 149, 68);
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
}
.win{
  color:rgb(139, 137, 137);
  background-color: rgb(0, 0, 0);
  padding: 1.5rem;
  border-radius: 1rem;
  transition: all ease-in-out;
  font-size: 1.35rem;
  font-weight: 700;
  margin-left: 0;
  box-shadow: 3px 3px red, -1em 0 .4em olive;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}