body{
   background-color: #040e1f;
   color:white;
}
.html{
  font-size: 1.125rem;
}
.images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10;
  border-radius: 100px;
  background-color: rgb(49, 48, 48);
  color: aqua;
  padding: 2rem;
  border: 1px solid white;
}
.images img{
 border-radius: 50%;
 border: 2px solid red;
}

.title{
  text-align: center;
  margin-bottom: 2rem;
}
.container{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-top: 0;
}

.info{
  color: red;
  font-size: .8rem;
}
.spin-button{
  border: none;
  border-radius: 50%;
  background-color: transparent;
  box-shadow:inset;
}
.spin-button:active{
  animation: spin .1s linear backwards infinite;
}
.btn-action{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:3rem;
  color:red;
}

.resultDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(45, 43, 43);
  gap:5rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.result{
  font-size: 1.2rem;
}
.spin{
  animation: spin .2s 3 linear ;
}
.spin-icon{
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}